body{
    overflow-x: hidden;
}
#bestcard{
   display: flex;
   margin-left: 300px;
   padding: 20px;
   overflow-x: hidden;
}
#bestcard div img{
    height: 600px;
    /* margin-left: 100px; */
}
.bestdiv2{
  /* margin-right: 500px; */
  padding: 40px;
}
.bestcarddiv{
    display: flex;
    justify-content: space-evenly;
}
.increasebtn{
    background-color: rgb(241, 240, 240);
   width: 150px;
   height: 40px;
   font-size: 32px;
   margin: 20px;
   border-radius: 4px;
}
.bestbtn1{
    font-size: 20px;
    color: black;
    border: 1px solid black;
    width: 200px;
    height: 40px;
    margin: 20px;
    align-content: center;
    border-radius: 5px;
}
.bestbtn1:hover{
    background-color: black;
    color: white;
}
.bestbtn2{
    font-size: 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
    width: 400px;
    height: 40px;
    align-content: center;
    border-radius: 5px;
}
.besticon{
   margin: 30px;
}
@media only screen and (max-width:1253px){
    #bestcard{
        margin-left: 50px;
    }
}
@media only screen and (max-width:1004px){
    #bestcard{
        margin-left: 30px;
    }
    #bestcard div img{
        height: 400px
    }
}

@media only screen and (max-width:838px){
    #bestcard div img{
        height: 300px
    }
    #bestcard{
        margin-left: 30px;
    }
}
@media only screen and (max-width:772px){
    #bestcard{
        display: block;
    }
    #bestcard div img{
        height: 600px
    }
    #bestcard{
        margin-left: 100px;
    }
    .bestbtn2{
        margin-left: -150px;
        align-content: center;
    }
    .bestcarddiv{
        margin-left: -30px;
    }
    .besticon{
       
        display:flex;
        margin-left: -60px;
     }

}    

@media only screen and (max-width:450px){
    #bestcard div img{
        height: 300px
    }
    .bestcarddiv{
       display: block
    }

}
  
/* ------2nd section--------- */
.besthead{
    display:flex;
  margin-left: 500px;
}
.besth{
    margin: 20px;
}
.bestimg_div{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.bestimg_div img{
    width: 400px;
}
#bestoption{
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;
}
#bestoption div{
    margin: 10px;
}
#bestoption div ul li{
    font-size: 18px;
    color: rgb(118, 110, 110);
}

@media only screen and (max-width:1024px){
    .bestimg_div img{
        width: 250px;
    } 
}
@media only screen and (max-width:802px){
    .bestimg_div img{
        width: 230px;
    } 
}
@media only screen and (max-width:784px){
    .bestimg_div{
        display:block;
    }    
    .bestimg_div img{
        width: 330px;
    }   
}
@media only screen and (max-width:600pxpx){
    .bestimg_div{
       margin-left: -50px;
    }
    #bestoption{
        display: grid;
        grid-template-columns: auto auto;
    }
}
/* -----3rd--------- */
#released{
    display:flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    overflow-x: hidden;
}
#released div img{
  width: 250px;
  border-radius: 20px;
  
}
.releaseddiv1 div{
    font-size: 22px;
   margin: 8px;
   color: #0d0d0d;
}
.releaseddiv1{
    overflow-x: hidden;
}
#best1{
    overflow-x: hidden;
}
#section4{
    overflow-x: hidden;
}
@media only screen and (max-width:1024px){
    #released{
        display:grid;
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width:556px){
    #released{
        display:grid;
        grid-template-columns: auto ;
    }
}

/* ----------------just realsed------------ */
.fav_head{
    overflow-x: hidden;
}
.bestseller_div{
    display:grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 30px;
  
}
.bestseller_div img{
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    margin: 10px;
    overflow-x: hidden;
}
@media only screen and (max-width:1024px){
    .bestseller_div{
    display:grid;
    grid-template-columns: auto auto ;
}
}
@media only screen and (max-width:556px){
    .bestseller_div{
        display:grid;
        grid-template-columns: auto ;
    }
}

/* ---------------choose--------- */
#choose{
    display: flex;
    justify-content: space-evenly;
    /* padding: 250px; */
    margin: 100px;
    overflow-x: hidden;
}
#choose div img{
    width: 100px;
    align-items: center;
    
}
#choose div{
    margin: 10px;
    align-items: center;

}
@media only screen and (max-width:596px){
    #choose{
        display: block;
    }
}


/* ------------------footer-------------- */
#footer{
    display: flex;
    justify-content: space-evenly;
    /* padding: 5px; */
    overflow-x: hidden;
}
.footerform input{
    width: 410px;
    height: 30px;
    background-color: #e3ebec;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
#footerbtn{
    margin-left: -42px;
    height: 43px;
    width: 50px;
    border: none;
  border-radius: none;
}
.footericon{
    padding: 80px;
    margin: 20px;
}
.footericon i{
    margin: 20px;
}
.footerdiv div div{
 padding: 50px;
 margin: 40px;
}
@media only screen and (max-width:596px){
    #footer{
        display: block;
    }
}

