/* ------------navbar--------------- */
*{
    /* overflow-y: hidden; */
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.mainnav{
    display: flex;
    justify-content: space-evenly;
  li{
    ul{
        list-style-type: none;
        display: flex;

        li{
            a{
                text-decoration: none;
                color: white;
            }
            display: flex;
    justify-content: space-evenly; 
        }

    }
    li{
        width: 350px;
        height: 32px;
        border-radius: 3px;
        font-size: 15px;
        border: none;
        background-color: rgb(241, 240, 240);
        padding: 20px;
    }
  }

}
// .hero-contain{
//     position: absolute;
//     top: 200px;
//     left: 300px;
//     }